<div class="container">
  <app-primary-button
    label="RESET"
    (btnClicked)="filterService.changeFilter('')"
  >
  </app-primary-button>
  <app-primary-button
    label="Gray Scale"
    (btnClicked)="filterService.changeFilter('gray')"
  >
  </app-primary-button>
  <app-primary-button
    label="Warm"
    (btnClicked)="filterService.changeFilter('warm')"
  >
  </app-primary-button>
  <app-primary-button
    label="Cool"
    (btnClicked)="filterService.changeFilter('cool')"
  >
  </app-primary-button>
  <app-primary-button
    label="ASCII"
    (btnClicked)="filterService.changeFilter('ascii')"
  >
  </app-primary-button>
  <app-primary-button
    label="Particles"
    (btnClicked)="filterService.changeFilter('particles')"
  >
  </app-primary-button>
</div>
