:host {
  display: block;
  width: 100%;
}

.container {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  min-width: 100%;
  min-height: 70px;
}

.container app-primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
